{% extends '::base.html.twig' %}
{% block body %}

<h1 id="app">${ message }</h1>
<div id="conteneur">
  <div class="element">
<div id="send">
<div class="row" id="formulaire">
  <div class="col-lg-4 center"><button class="btn  pull-right btn-action" v-on:click="less(-1)" type="button" name="buttonMoins"> - </button></div>
  <div class="col-lg-4 center"><input class="center-block input-default" type="text" name="nombre" v-model="counter"></div>
  <div class="col-lg-4 center"><button class="btn  pull-left btn-action" v-on:click="add(1)" type="button" name="buttonPlus"> + </button></div>
</div>


    <div class="row" id="btnSubmits">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 center"><input class="btn  center-block btn-submit" v-on:click="fetch()" type="submit" value="Envoyer"></div>
      <div class="col-lg-4"></div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10"><h2>Timeline</h2></div>
      <div class="col-lg-1"></div>
    </div>
    <div class="row" id="timeline">
      <div class="col-lg-1"></div>
      <div class="col-lg-10"><div class="result">${result}</div></div>
      <div class="col-lg-1"></div>
    </div>
  </div>
  </div>
</div>

{% endblock %}
