#app{
  text-align: center;
  color: #494b57;
  font-family: Montserrat;
  font-size: 5em;
  font-weight: 600;
}
h2{
  text-align: center;
  font-family: Montserrat;
  font-size: 3em;
}
#conteneur{
  display: flex;
  height: 600px;

}

.element{
  margin: auto;
  width:100%;
}

.result{
  text-align: center;
  color: #494b57;
  font-family: Montserrat;
  font-size: 2em;
}
.btn-action{
  width:50px;
  font-size: 20px;
  background-color: #fbc934;
  color: #1c8d93;
}
.btn-action:hover{
  background-color: #1c8d93;
  color: #f9bb00;
}
.btn-submit{
  background-color: #1c8d93;
  color: #fbc934;
}
.btn-submit:hover{
  background-color: #f9bb00;
  color: #1c8d93;
}
.input-default{
  border: 1px solid #fbc934;
}

.input-default:hover{
  border: 1px solid #f9bb00;
}
